<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999517151150-v2k2o9qh1h99n2a2ne4ct9s0ftvd2hbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999517151150-v2k2o9qh1h99n2a2ne4ct9s0ftvd2hbk</string>
	<key>API_KEY</key>
	<string>AIzaSyB1fN2A9TCeANsPRKF_H-jjUnFdvIScF0c</string>
	<key>GCM_SENDER_ID</key>
	<string>999517151150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roma.siamo</string>
	<key>PROJECT_ID</key>
	<string>roma-siamo-noi</string>
	<key>STORAGE_BUCKET</key>
	<string>roma-siamo-noi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999517151150:ios:c8cd200d4a564e6c6ef23f</string>
	<key>DATABASE_URL</key>
	<string>https://roma-siamo-noi-default-rtdb.firebaseio.com</string>
</dict>
</plist>